@import '../../../styles.variables';

::ng-deep {
  .about-us-img {
    width: 100%;
  }

  .about-us-content {
    font-weight: normal;
    line-height: 2.4rem;
    font-size: 18px;
  }

  @media #{$medium-and-up} {
    .align-left-on-medium {
      text-align: left;
    }

    .vertical-center {
      display: flex;
      align-items: center;
    }
  }
}
