<div class="container section center-align">
  <div class="row">
    <div class="col offset-m1 m10">
      <h4 class="title">¿Qué es International Women’s Day?</h4>
      <p class="about-us-content">
        Un evento donde celebramos las contribuciones de las mujeres en tecnología, es un día muy importante para
        reconocer cómo las mujeres han influido en la industria tecnológica y más allá.
      </p>
      <gdg-about-gdg></gdg-about-gdg>
      <div class="divider"></div>
      <gdg-about-wtm></gdg-about-wtm>
    </div>
  </div>
</div>