<div gdgTransparentNavbar class="parallax-container valign-wrapper">
  <span id="color-layer"></span>
  <div class="parallax-container-data center-align">
    <div id="banner-container" class="container">
      <div class="row">
        <div class="col offset-m2 m8">
          <img id="iwd-logo" src="assets/images/logo-wtm.svg" alt="IWD">
          <h2 id="banner-title">
            International Women's Day 2020
          </h2>
          <h3 id="banner-date">Abril 18 y 19</h3>
        </div>
        <div class="col offset-m3 m6">
          <h6 id="banner-details">
            <strong>El International Women's Day (IWD)</strong> se celebra en diferentes regiones de todo el mundo,
            el enfoque de las celebraciones va desde el respeto general y el aprecio por las mujeres hasta la
            celebración de los logros económicos, políticos y sociales de las mujeres.
          </h6>
          <a class="btn-large waves-effect" href="//www.meetup.com/es-ES/GDGCochabamba/events/269902271/" target="_blank" rel="noopener noreferrer">
            Asistiré
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="scroll-down" class="center-align">
    <p>
      <a href="#about-us">
        Descubre más sobre IWD 2020
      </a>
    </p>
    <img src="assets/images/arrow-down.svg" alt="Cochabamba 2019">
  </div>
  <div gdgParallax class="parallax">
    <img src="assets/images/banner.svg" alt="Banner Background">
  </div>
</div>
