@import '../../../styles.colors';
@import '../../../styles.variables';

#banner-container {
  position: relative;
  height: 100%;
  text-align: center;
  z-index: 1;
}

#banner-title {
  width: auto;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: $secondary-color;

  @media #{$large-and-up} {
    font-size: 60px;
  }
}

#banner-date {
  width: 100%;
  height: 34px;
  font-size: 28px;
  text-align: center;
  color: #ff7976;
}

#banner-details {
  line-height: 2rem;
  font-size: 18px;
  margin-bottom: 10px;

  @media #{$large-and-up} {
    margin-bottom: 60px;
  }
}

#iwt-logo {
  max-width: 30%;
}

#scroll-down {
  position: absolute;
  bottom: 30px;
  width: 100%;

  p {
    margin-block-end: 0.5em;

    a {
      color: $primary-color;
    }
  }

  img {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
  }
}

@media #{$medium-and-down} {
  .parallax-container .parallax img {
    left: 100%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
